<div class='container' *ngIf='!loader.getLoading()'>
  <div class='main_block'>
    <div class='container main_block__title'>
      <h3 class='tui-text_h4'>Список клиентов</h3>
    </div>
    <div class='main_block__content'>
      <tui-accordion class=''>
        <tui-accordion-item
          *ngFor='let client of clients'
          size='m'
        >
          {{client.fullName}}
          <ng-template tuiAccordionItemContent>
            {{client.fullName}}
            <div class='container-buttons'>
              <button
                tuiButton
                size='m'
                appearance='whiteblock-active'
                type='button'
                shape="rounded"
                (click)='editClient(client)'
              >
                Редактировать
              </button>
              <button
                tuiButton
                size='m'
                appearance='whiteblock-active'
                type='button'
                shape="rounded"
                (click)='removeClient(client)'
              >
                Удалить
              </button>
            </div>
          </ng-template>
        </tui-accordion-item>
      </tui-accordion>
    </div>
    <div class='main_block__buttons'>
      <button
        tuiButton
        size='m'
        appearance='whiteblock-active'
        type='button'
        (click)='show()'
      >
        Добавить
      </button>
    </div>
  </div>
</div>
<div *ngIf='loader.getLoading()'>
  <app-loader></app-loader>
</div>
