<!-- Контент диалогового окна клиента -->
<form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
  <tui-scrollbar>
    <!-- ФИО клиента -->
    <div class="tui-form__row">
      <tui-input formControlName="fullName" tuiTextfieldSize="m">
        Ф.И.О.
        <input placeholder="Введите ФИО клиента полностью" tuiTextfield />
        <span class="tui-required"></span>
      </tui-input>
      <tui-error formControlName="fullName" [error]="[] | tuiFieldError | async"></tui-error>
    </div>
    <!-- Возраст -->
    <div class="tui-form__row">
      <tui-input-number formControlName="age" tuiTextfieldSize="m">
        Возраст
        <input placeholder="Введите возраст" tuiTextfield />
        <span class="tui-required"></span>
      </tui-input-number>
      <tui-error formControlName="age" [error]="[] | tuiFieldError | async"></tui-error>
    </div>
    <!-- Цель -->
    <div class="tui-form__row">
      <tui-input formControlName="target" tuiTextfieldSize="m">
        Цель
        <input placeholder="Кратко опишите цели клиента" tuiTextfield />
        <span class="tui-required"></span>
      </tui-input>
      <tui-error formControlName="target" [error]="[] | tuiFieldError | async"></tui-error>
    </div>
    <!-- Ограничения -->
    <div class="tui-form__row">
      <tui-input formControlName="limits" tuiTextfieldSize="m">
        Ограничения
        <input placeholder="Имеются ли ограничения по состоянию здоровья?" tuiTextfield />
        <span class="tui-required"></span>
      </tui-input>
      <tui-error formControlName="limits" [error]="[] | tuiFieldError | async"></tui-error>
    </div>
    <!-- Опыт тренировок -->
    <div class="tui-form__row">
      <tui-input formControlName="experience" tuiTextfieldSize="m">
        Опыт тренировок
        <input placeholder="Имеется ли опыт тренировок?" tuiTextfield />
        <span class="tui-required"></span>
      </tui-input>
      <tui-error formControlName="experience" [error]="[] | tuiFieldError | async"></tui-error>
    </div>
    <!-- Режим сна и бодрствования -->
    <div class="tui-form__row">
      <tui-input formControlName="sleep" tuiTextfieldSize="m">
        Режим сна и бодрствования
        <input placeholder="Сколько часов обычно спит?" tuiTextfield />
        <span class="tui-required"></span>
      </tui-input>
      <tui-error formControlName="sleep" [error]="[] | tuiFieldError | async"></tui-error>
    </div>
    <!-- Режим питания -->
    <div class="tui-form__row">
      <tui-input formControlName="food" tuiTextfieldSize="m">
        Режим питания
        <input placeholder="Какой режим питания?" tuiTextfield />
        <span class="tui-required"></span>
      </tui-input>
      <tui-error formControlName="food" [error]="[] | tuiFieldError | async"></tui-error>
    </div>
    <!-- Фармакология -->
    <div class="tui-form__row">
      <tui-input formControlName="pharma" tuiTextfieldSize="m">
        Фармакология
        <input placeholder="Имеются ли ограничения" tuiTextfield />
        <span class="tui-required"></span>
      </tui-input>
      <tui-error formControlName="pharma" [error]="[] | tuiFieldError | async"></tui-error>
    </div>
    <!-- Повседневная активность -->
    <div class="tui-form__row">
      <tui-input formControlName="activity" tuiTextfieldSize="m">
        Ограничения
        <input placeholder="Имеются ли ограничения" tuiTextfield />
        <span class="tui-required"></span>
      </tui-input>
      <tui-error formControlName="activity" [error]="[] | tuiFieldError | async"></tui-error>
    </div>
  </tui-scrollbar>

  <div class="tui-form__row">
    <button tuiButton size='m' appearance='whiteblock-active' type='button' (click)='onSubmit()'>
      Сохранить
    </button>
  </div>
</form>