<tui-scrollbar class="container">
  <ng-container *ngIf="modeView === 'Default'; else popup">
    <h5 class='tui-text_h4' class="container__title">Упражнения на {{title}}</h5>
    <ul>
      <li *ngFor="let item of exercises | async">
        <div>
          <div class="title__block">
            <h4 class="title">{{item.name}}</h4>
            <div class="title__block_buttons">
              <button (click)="editExercise(item)" tuiIconButton iconStart="@tui.pencil" size='s'></button>
              <button (click)="deleteExercise(item)" tuiIconButton iconStart="@tui.trash" size='s' appearance="accent"
                type="button"></button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </ng-container>
  <ng-template #popup>
    <div class="popup_body">
      <app-search />
      <form [formGroup]="exListForm">
        <tui-radio-list formControlName="exercise" [itemContent]="content" [items]="list" />
      </form>
    </div>
    <ng-template #content let-data>
      <span>
        <a [href]="data.url" target="_blank" tuiTitle>{{ data.name }}</a>
      </span>
    </ng-template>
  </ng-template>
</tui-scrollbar>