<div class="top-container">
  <tui-calendar [value]="selectedDay" (dayClick)="onDayClick($event)"></tui-calendar>
  <div class="container-buttons">
    <button tuiIconButton [size]="'m'" appearance='secondary' type='button' [iconStart]="'@tui.plus'"
      (click)='addTraining()'>
    </button>
  </div>
</div>
<div *ngIf="!isLoading; else loader" class="bottom-container">
  <app-training-calendar-list [selectedDay]="selectedDay" [plannedTrainings]="filteredTrainingsByDay | sortByTime"
    (onEditTraining)="onEditTraining($event)" (onRemoveTraining)="onRemoveTraining($event)" />
</div>
<ng-template #loader>
  <app-loader />
</ng-template>
