<div class="top-container">
  <tui-calendar [value]="selectedDay" (dayClick)="onDayClick($event)"></tui-calendar>
  <div class="container-buttons">
    <button tuiIconButton [size]="'m'" appearance='secondary' type='button' [icon]="'tuiIconPlusLarge'"
      (click)='addTraining()'>
    </button>
  </div>
</div>
<div *ngIf="!isLoading; else loader" class="bottom-container">
  <app-training-calendar-list [selectedDay]="selectedDay" [plannedTrainings]="filteredTrainingsByDay" />
</div>
<ng-template #loader>
  <app-loader />
</ng-template>