:host {
  display: block;
  height: 100%;
}

tui-root {
  height: inherit;
}

app-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-menu {
  color: #000;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  font-size: 1.1em;

  & a {
    color: inherit;
    text-decoration: none;
    &:active {
      color: inherit;
      text-decoration: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
