form {
  align-items: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.auth_form.tui-form__row {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 30px;
  flex: 1;

  & > label {
    width: 90px;
  }
}

tui-error {
  bottom: -20px;
  position: absolute;
}

button {
  margin-top: 50px;
}