.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.auth_wrapper {
  width: 500px;
}

.auth_title {
  text-align: center;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;

  .button_block {
    padding: 0 1.25rem;
  }
}

.auth_form.tui-form__row {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 30px;
  flex: 1;

  & > label {
    width: 90px;
  }
}

tui-error {
  bottom: -20px;
  position: absolute;
}

button {
  margin-top: 30px;
  width: 100%;
}
