<div class='container'>

  <div class='auth_wrapper'>
    <div class='auth_title'>
      <h2 *ngIf="location.path == 'login'">Войти</h2>
      <h2 *ngIf="location.path == 'signup'">Зарегистрироваться</h2>
    </div>

    <form [formGroup]='loginForm' (ngSubmit)='onSubmit()' required>
      <div class='tui-col_12'>
        <div class='auth_form tui-form__row'>
          <tui-input formControlName='login'>
            Введите e-mail
            <!-- <input tuiTextfield role='presentation' type='email' autocomplete='on' /> -->
            <input tuiTextfield autocomplete="email" translate="no" type="email" />
          </tui-input>
          <tui-error formControlName='login' [error]='[] | tuiFieldError | async'></tui-error>
        </div>

        <div class='auth_form tui-form__row'>
          <tui-input formControlName='password' class='b-form'>Введите пароль</tui-input>
          <tui-error formControlName='password' [error]='[] | tuiFieldError | async'></tui-error>
        </div>
      </div>
      <div *ngIf="location.path == 'login'" class='button_block tui-col_12'>
        <p>
          Если у Вас нет аккаунта, вы можете
          <a [routerLink]=goToPage>зарегистрироваться</a>
        </p>
        <button tuiButton type='submit' size='m' shape='rounded' [showLoader]='isLoading' [disabled]='!loginForm.valid'>
          Войти
        </button>
      </div>
      <div *ngIf="location.path == 'signup'" class='button_block tui-col_12'>
        <p>
          Если Вы уже являетесь пользователем. Вы можете
          <a [routerLink]=goToPage>авторизоваться</a>
        </p>
        <button tuiButton type='submit' size='m' shape='rounded' [showLoader]='isLoading' [disabled]='!loginForm.valid'>
          Зарегистрироваться
        </button>
      </div>
    </form>
    <div *ngIf='loginForm.valid' class='tui-col_12 tui-form__row'>
      {{error}}
    </div>
  </div>
</div>