<div class="container">
  <div class="container-buttons">
    <button tuiIconButton [size]="'l'" appearance='secondary' type='button' icon="tuiIconPlus" (click)='add(template)'>
    </button>
  </div>
  <tui-scrollbar>
    <tui-accordion [rounded]="false">
      <tui-accordion-item class="body-part__item" *ngFor='let part of bodyParts' size='m' [showArrow]="false"
        [disabled]="true">
        <div class="body-part__item_wrapper">
          <a routerLink="/">{{part.part_name}}</a>
          <div>
            <button appearance="accent" size="m" tuiIconButton type="button" (click)="editHandler(template, part)"
              icon="tuiIconEdit2Large"></button>
            <button appearance="accent" size="m" tuiIconButton type="button" (click)="delete(part.id)"
              icon="tuiIconTrash2">
            </button>
          </div>
        </div>
      </tui-accordion-item>
    </tui-accordion>
  </tui-scrollbar>

    <ng-template #template let-observer>
      <!-- Контент диалогового окна клиента -->

        <app-dialog>
          <form [formGroup]="bodyPartForm" (ngSubmit)="onSubmit(observer)">
          <!-- ФИО клиента -->
          <div class="tui-form__row">
            <tui-input formControlName="part_name" tuiTextfieldSize="m">
              Название части тела
              <input placeholder="Введите название части тела" tuiTextfield />
            </tui-input>
          </div>
          <div class="tui-form__row buttons">
            <button size="m" tuiButton type="button" (click)="onSubmit(observer)">
              Сохранить
            </button>
            <button appearance="accent" size="m" tuiButton type="button" (click)="cancel(observer)">
              Отмена
            </button>
          </div>
        </form>
        </app-dialog>
    </ng-template>
</div>