<form [formGroup]="exForm" (ngSubmit)="onSubmit()">
  <!-- Наименование упражнения -->
  <div class="tui-form__row">
    <tui-input formControlName="name" tuiTextfieldSize="m">
      Наименование упражнения
      <input tuiTextfieldLegacy />
      <span class="tui-required"></span>
    </tui-input>
    <tui-error formControlName="name" [error]="[] | tuiFieldError | async"></tui-error>
  </div>

  <div class="tui-form__row">
    <tui-select formControlName="muscle_group" class='trainingForm__exercise'>
      Выберите группу мышц
      <span class="tui-required"></span>
      <tui-data-list-wrapper *tuiDataList [items]="b_parts"></tui-data-list-wrapper>
      <tui-error formControlName='muscle_group' [error]="[] | tuiFieldError | async"></tui-error>
    </tui-select>
  </div>
  <!-- ССЫЛКА НА ВИДЕОЗАПИСЬ -->
  <div class="tui-form__row">
    <tui-input tuiTextfieldSize="m" formControlName="url">
      Ссылка на видео
      <input tuiTextfieldLegacy />
    </tui-input>
  </div>
  <!-- КОММЕНТАРИЙ -->
  <div class="tui-form__row">
    <tui-input tuiTextfieldSize="m" formControlName="comment">
      Комментарий
      <input tuiTextfieldLegacy />
    </tui-input>
  </div>
</form>

<button tuiButton [size]="'m'" (click)="onSubmit()" [disabled]='exForm.invalid' type="submit">Сохранить</button>
