<!-- <form
    orientation="vertical"
    tuiGroup
    class="group"
    [collapsed]="true"
    [formGroup]="clientsForm"
>
    <tui-radio-block
        contentAlign="right"
        formControlName="client"
        item="orange"
        size="l"
    >
        Oranges
    </tui-radio-block>
    <tui-radio-block
        contentAlign="right"
        formControlName="client"
        item="apple"
        size="l"
    >
        Apples
    </tui-radio-block>
    <tui-radio-block
        contentAlign="right"
        formControlName="client"
        item="pineapple"
        size="l"
    >
        Pineapples
    </tui-radio-block>
</form> -->
