<!-- Контент диалогового окна клиента -->
<form [formGroup]="trainingForm" class="trainingForm">
  <tui-scrollbar>

    <tui-input-date formControlName="planned_date">
      Дата тренировки
      <input tuiTextfieldLegacy class='trainingForm__date_slot' />
    </tui-input-date>
    <tui-input-time formControlName="time" [items]="timeSlots" class="trainingForm__time_slot"
                    [tuiDropdownMinHeight]="400">
      Время начала тренировки
    </tui-input-time>
    <tui-select formControlName="client" class="trainingForm__client">
      Выберите клиента
      <tui-data-list-wrapper *tuiDataList [items]="clients"></tui-data-list-wrapper>
    </tui-select>

    <ng-container *ngIf="!!editingTraining">
      <h4>Упражнения</h4>

      <div class='main_block__content'>
        <div #place></div>
        <div *ngIf="!exercises.length;">
          <p style="text-align: center;">Упражнения не заданы</p>
        </div>
        <button tuiButton size='m'
                appearance="outline-grayscale"
                tuiAppearanceMode="checked"
                type='button'
                (click)='addExercise()'>
          Добавить упражнение
        </button>
      </div>
    </ng-container>
  </tui-scrollbar>

  <div class="tui-form__row">
    <button tuiButton
            size='m'
            appearance="outline-grayscale"
            tuiAppearanceMode="checked"
            type='button'
            [disabled]="!trainingForm.valid || (isLoading$ | async)"
            [loading]='isLoading$ | async'
            (click)='onSubmit()'>
      Сохранить
    </button>
  </div>
</form>

<ng-template #empty>
  <h3 style="text-align: center;">Список клиентов пуст</h3>
</ng-template>
