.tui-form__row .trainingForm__exercise {
  flex: 1;
}

.tui-form__row.exercise {
  display: flex;
  justify-content: space-between;
}

.tui-form__row .exercise_link {
  text-decoration: none;
  align-self: center;
}