<form [formGroup]='exForm'>

  <!-- НАИМЕНОВАНИЕ УПРАЖНЕНИЯ -->
  <div class='tui-form__row' style="display: flex;">
    <tui-select formControlName='exercise' class='trainingForm__exercise'>
      Выберите упражнение
      <tui-data-list-wrapper *tuiDataList [items]='exec_vars'></tui-data-list-wrapper>
    </tui-select>
    <button
      tuiIconButton
      size='l'
      appearance="accent"
      tuiAppearanceMode="checked"
      iconStart="trash"
      type='button'
            (click)='removeExercise()'>
    </button>
  </div>

  <div class='tui-form__row'></div>
  <tui-textfield class='tui-form__row_half-width'>
    <label tuiLabel>Количество подходов</label>
    <input
      tuiTextfield
      formControlName='set_count'
    />
  </tui-textfield>
  <!-- ВЕС -->
  <div class='tui-form__row' style='display: flex;'>
    <tui-textfield class='tui-form__row_half-width'>
      <label tuiLabel>Укажите вес, кг</label>
      <input
        tuiInputNumber
        formControlName='payload_weight'
      />
    </tui-textfield>


    <!-- ПОВТОРЕНИЯ -->
    <tui-textfield class='tui-form__row_half-width'>
      <label tuiLabel>Повторения, шт</label>
      <input
        tuiInputNumber
        formControlName='execution_number'
      />
    </tui-textfield>
  </div>

  <!-- КОММЕНТАРИЙ -->
  <tui-textarea formControlName='comment' class='tui-form__row'>Комментарий</tui-textarea>
</form>
<hr style='margin: .5rem 0;'>
