<form [formGroup]='exForm'>

  <!-- НАИМЕНОВАНИЕ УПРАЖНЕНИЯ -->
  <tui-select formControlName='exercise' class='trainingForm__client'>
    Выберите упражнение
    <tui-data-list-wrapper *tuiDataList [items]='exec_vars'></tui-data-list-wrapper>
  </tui-select>

  <!-- ВЕС -->
  <tui-textfield>
    <label tuiLabel>Укажите вес, кг</label>
    <input
      tuiInputNumber
      formControlName='execution_number'
    />
  </tui-textfield>

  <!-- ПОВТОРЕНИЯ -->
<!--  <tui-textfield>-->
<!--    <label tuiLabel>Укажите количество повторений</label>-->
<!--    <input-->
<!--      tuiInputNumber-->
<!--      formControlName='execution_number'-->
<!--    />-->
<!--  </tui-textfield>-->

  <tui-textfield>
    <label tuiLabel>Комментарий</label>
    <textarea
      tuiTextarea
      formControlName='comment'
    ></textarea>
  </tui-textfield>

<!-- КОММЕНТАРИЙ -->
<!--  <tui-textfield tuiTextfieldSize="m">-->
<!--    <label tuiLabel>Medium with label inside</label>-->
<!--    <textarea-->
<!--      placeholder="Placeholder"-->
<!--      tuiTextarea-->
<!--    ></textarea>-->
<!--  </tui-textfield>-->

</form>
